PROJECT DESCRIPTION
- GNOME Shell 49+ Extension
- Falling snow

STRICTLY FOLLOW THESE INSTRUCTIONS:
- Always use latest GNOME Shell 49+ syntax
- Always do minimal changes to the codebase to achieve the task
- Always write production-grade code
- Always only write what is needed right now. Keep all your edits as minimal and concise as possible to perform a task.
- Never write any comments
- Never create .md files unless explicitly requested to
- Never bloat README with too many technical details, keep it concise and simple
- Never use single-letter variables, instead use only descriptive names. This applies to all variables including lambda arguments
- Never create relay/empty functions
- Never write "just in case" code which is not necessary (such as extra nullifying)

STRICTLY FOLLOW THESE COMMIT CONVENTIONS:
- Always use `feat: message` for new features. Never add "implement" or "add", write the feature right after feat:
- Always use `fix: message` for bug fixes. Never add "fix", write the bug right after fix:
- Always use `chore: message` for chore updates. Never add "update", write the chore right after chore:
- Always write short commit messages that are easy to understand and explain the changes
- Never describe every single change in the commit message, write only a general description of all changes